#include "resource.h"
#include "windows.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifdef APSTUDIO_INVOKED

// TEXTINCLUDE

1 TEXTINCLUDE
BEGIN
"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
"#include ""windows.h""\r\n"
"\0"
END

3 TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END

#endif	// APSTUDIO_INVOKED

DLG_SCRNSAVECONFIGURE DIALOG 6, 18, 225, 77
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "FAH Screen Saver"
FONT 8, "MS Shell Dlg"
BEGIN
DEFPUSHBUTTON "OK",IDOK,166,54,50,14
LTEXT "This screen saver has no options that you can set",IDC_STATIC,36,25,165,8
END

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
DLG_SCRNSAVECONFIGURE , DIALOG
BEGIN
LEFTMARGIN, 7
RIGHTMARGIN, 217
TOPMARGIN, 7
BOTTOMMARGIN, 70
END
END
#endif	// APSTUDIO_INVOKED
#endif	// English (United States) resources 
